.edTech-bg-secondery {
    background-color: #0a0b0c87;
}

.adTech-btn {
    background-color: #289BDE;
}

.adTech-bg-secondery {
    background-color: #F4FAFD;
}

.text-price {
    color: #289BDE;
}

.icon-light {
    color: #FFFFFF;
}